<section>
<article>

<header>
<h1>Sign Up:</h1>
</header>


<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h3>ERROR SUBMITTING SIGN UP FORM!</h3>
    <p_left class = "error_messages">
	
	<ul>
	  <% for message in @user.errors.full_messages %>
	     <li> <%= message %></li>
      <% end %>
    </ul>
	</p_left>
  <% end %>
  
  <p>
    <%= f.label :email  %><br />
	<%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
	<%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %>
  </p>
  <p class = "button"><%= f.submit %></p>
<% end %>
</article>
</section>