<!DOCTYPE html>
<html>
<head>
  <title>Fmn</title>
  <%= render 'layouts/stylesheets'%>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= image_tag("fmn1.jpg",) %></h1>
    <hr/>
    
  <div>      
   <% if current_user %>
   <h5>     
       <%= link_to "Log out", log_out_path %>
   <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "Login", log_in_path %>
      <% end %>
   </h5>
  </div>
  <% if current_user %>
    <nav>
      <strong>Schedule</strong>
      <ul_b>
      <li><%= link_to "Create a Reminder", new_message_path %></li>
      <li><%= link_to "Manage Reminders", list_messages_path %></li>
      <li>Contact</li>
      </ul_b>
    </nav>
  <% else %>
    <nav>
      Sign up Already!
    <nav>
  <% end %>
    
  </header>
  
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
     
  <%= yield %>
  
  <aside>
  <h2>Need A Reminder?</h2>
    <p>Have an important date? Can't be late? Enter your message
       and we'll remind you when the time comes.</p>
    <p><%= image_tag("forgetlogo2.jpg") %></p>
  </aside>
  <footer>  
    <% if current_user %>
         Logged in as <%= current_user.email %>
    <% end %>     
  </footer>
  
</body>
</html>
